# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.pnp.*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# EAS
.eas/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*
.metro-cache/

# debug / logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
logs/

# testing
coverage/

# macOS
.DS_Store
*.pem

# Windows / Linux
Thumbs.db
ehthumbs.db
Desktop.ini
*~

# local env files
.env
.env.*
!.env.example
.env*.local

# typescript
*.tsbuildinfo

# caches
.cache/
.temp/
.tmp/
*.tgz
.eslintcache

# editors / IDEs
.idea/
*.iml
*.swp
*.swo
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

app-example

# generated native folders
/ios
/android
